@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@theme {
  /* --color-highlight: rgba(0, 119, 255, 0.20);
  --color-secondary: #737373; */
  --breakpoint-xs: 300px;
  --breakpoint-sm: 550px;
  --breakpoint-md: 800px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

* {
    font-family: "Ubuntu Sans", sans-serif;
    line-height: 1.2;
}